<div class="container">
    <jhi-alert-error></jhi-alert-error>
    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Estate investment evaluation</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet.</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    Information
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-control-label" for="field_name">Name:</label>
                        <input type="text" class="form-control" name="name" required id="field_name" placeholder="Your name" [(ngModel)]="name" />
                        <!-- <div *ngIf="name.toString().dirty && name.toString().invalid">
                            <small class="form-text text-danger"
                               *ngIf="name.errors.required" jhiTranslate="settings.messages.validate.name.required">
                                Your first name is required.
                            </small>
                        </div> -->
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_telephone">Telephone:</label>
                        <input type="text" class="form-control" name="telephone" required id="field_telephone" placeholder="Your phone number" [(ngModel)]="telephone" />
                        <!-- <div *ngIf="telephone.toString().dirty && telephone.toString().invalid">
                            <small class="form-text text-danger"
                               *ngIf="telephone.errors.required" jhiTranslate="settings.messages.validate.telephone.required">
                                Your first name is required.
                            </small>
                        </div> -->
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_email">Email:</label>
                        <input type="text" class="form-control" name="email" required id="field_email" placeholder="Your email address" [(ngModel)]="email" />
                        <!-- <div *ngIf="email.toString().dirty && email.toString().invalid">
                            <small class="form-text text-danger"
                               *ngIf="email.errors.required" jhiTranslate="settings.messages.validate.email.required">
                                Your first email is required.
                            </small>
                        </div> -->
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_clientNumber">Revenue:</label>
                        <section class="d-flex justify-content-between">
                            <div class="">
                            <input type="radio" id="control_01" name="taxRate" value="0.2" [(ngModel)]="taxRate">
                            <label for="control_01">
                                <span>20%</span>
                                <ng-template #popContent20>(长期居住地不在法国本土的海外公民)</ng-template>
                                <span class="badge badge-pill badge-primary" triggers="mouseenter:mouseleave" [ngbPopover]="popContent20" popoverTitle="Information">!</span>
                            </label>
                            </div>
            
                            <div class="">
                            <input type="radio" id="control_02" name="taxRate" value="0" [(ngModel)]="taxRate">
                            <label for="control_02">
                                <span>0%</span>
                                <ng-template #popContent0>(家庭报税收入小于9710欧)</ng-template>
                                <span class="badge badge-pill badge-primary" triggers="mouseenter:mouseleave" [ngbPopover]="popContent0" popoverTitle="Information">!</span>
                            </label>
                            </div>
            
                            <div class="">				
                            <input type="radio" id="control_03" name="taxRate" value="0.14" [(ngModel)]="taxRate">
                            <label for="control_03">
                                <span>14%</span>
                                <ng-template #popContent14> (家庭报税收入收入 9711-26818欧)</ng-template>
                                <span class="badge badge-pill badge-primary" triggers="mouseenter:mouseleave" [ngbPopover]="popContent14" popoverTitle="Information">!</span>
                            </label>
                            </div>
            
                            <div class="">
                            <input type="radio" id="control_04" name="taxRate" value="0.3" [(ngModel)]="taxRate">
                            <label for="control_04">
                                <span> 30%</span>
                                <ng-template #popContent30>(家庭报税收入收入 26819-71898欧)</ng-template>
                                <span class="badge badge-pill badge-primary" triggers="mouseenter:mouseleave" [ngbPopover]="popContent30" popoverTitle="Information">!</span>
                            </label>
                            </div>
            
                            <div class="">
                            <input type="radio" id="control_05" name="taxRate" value="0.4" [(ngModel)]="taxRate">
                            <label for="control_05">
                                <span>41%</span>
                                <ng-template #popContent40> (家庭报税收入71899-152260欧</ng-template>
                                <span class="badge badge-pill badge-primary" triggers="mouseenter:mouseleave" [ngbPopover]="popContent40" popoverTitle="Information">!</span>
                            </label>
                            </div>

                            <div class="">
                                <input type="radio" id="control_06" name="taxRate" value="0.45" [(ngModel)]="taxRate">
                                <label for="control_06">
                                    <span>45%</span>
                                    <ng-template #popContent45> (家庭报税收入 大于152260欧)</ng-template>
                                    <span class="badge badge-pill badge-primary" triggers="mouseenter:mouseleave" [ngbPopover]="popContent45" popoverTitle="Information">!</span>
                                </label>
                            </div>
                        </section>
                    </div>

                    <div class="form-group">
                            <label class="form-control-label" for="field_clientNumber">房产情况:</label>
                            <section class="d-flex justify-content-between">
                                <div class="">
                                <input type="radio" id="control_07" name="situation" value="11" [(ngModel)]="situation">
                                <label for="control_07">
                                    <span>准备够入自住房</span>
                                </label>
                                </div>
                
                                <div class="">
                                <input type="radio" id="control_08" name="situation" value="111" [(ngModel)]="situation">
                                <label for="control_08">
                                    <span>已有自住房，准备够入投资房</span>
                                </label>
                                </div>
                            </section>
                            <section class="d-flex justify-content-between">
                                <div class="">				
                                <input type="radio" id="control_09" name="situation" value="C11" [(ngModel)]="situation">
                                <label for="control_09">
                                    <span>已有自住房，已经够入投资房</span>
                                </label>
                                </div>
                
                                <div class="">
                                <input type="radio" id="control_10" name="situation" value="C11111" [(ngModel)]="situation">
                                <label for="control_10">
                                    <span>其他</span>
                                </label>
                                </div>
                            </section>
                    </div>

                    <div class="form-group">
                            <label class="form-control-label" for="field_clientNumber">房产（意向）位置:</label>

                            <div class="btn-group" ngbRadioGroup name="intention" [(ngModel)]="intention">
                                <label ngbButtonLabel class="btn-light">
                                  <input ngbButton type="radio" [value]="12" > 小巴黎
                                </label>
                                <label ngbButtonLabel class="btn-light">
                                  <input ngbButton type="radio" [value]="121"> 大巴黎
                                </label>
                                <label ngbButtonLabel class="btn-light">
                                  <input ngbButton type="radio" [value]="122"> 其他
                                </label>
                              </div>

                            <section class="d-flex justify-content-between">
                                <div class="">
                                <input type="radio" id="control_11" name="intention" value="12" [(ngModel)]="intention">
                                <label for="control_11">
                                    <span>小巴黎</span>
                                </label>
                                </div>

                                <div class="">				
                                <input type="radio" id="control_12" name="intention" value="121" [(ngModel)]="intention">
                                <label for="control_12">
                                    <span>大巴黎</span>
                                </label>
                                </div>
                
                                <div class="">
                                <input type="radio" id="control_13" name="intention" value="122" [(ngModel)]="intention">
                                <label for="control_13">
                                    <span>其他</span>
                                </label>
                                </div>
                            </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        Estate information
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-control-label" for="estateCapital">总房价（包含公证费及中介费:</label>
                            <input type="text" class="form-control" name="estateCapital" id="estateCapital" required minlength="2" placeholder="ex 200000" [(ngModel)]="estateCapital" />
                            <!-- <div *ngIf="estateCapital.invalid && (estateCapital.dirty || estateCapital.touched)" class="alert alert-danger">
                                <div *ngIf="estateCapital.errors.required">
                                    Name is required.
                                </div>
                                <div *ngIf="estateCapital.errors.minlength">
                                    Name must be at least 4 characters long.
                                </div>
                            </div> -->
                        </div>
                        <!-- <div class="form-group">
                            <label class="form-control-label" for="field_status">剩余贷款数贷款利率 (不含保险):</label>
                            <input type="text" class="form-control" name="status" id="field_status" placeholder="ex 1.91" [(ngModel)]="principalBalance" />
                        </div> -->
                        <div class="form-group">
                                <label class="form-control-label" for="field_principalG">剩余贷款数贷款利率 (不含保险):</label>
                                <input type="text" class="form-control" name="principalG" required id="field_principalG" [(ngModel)]="principalG" />
                                <!-- <div *ngIf="principalG.toString().dirty && principalG.toString().invalid">
                                    <small class="form-text text-danger"
                                       *ngIf="principalG.errors.required" jhiTranslate="settings.messages.validate.principalG.required">
                                        Your first principalG is required.
                                    </small>
                                </div> -->
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_monthes">剩余贷Monthes数:</label>
                                <input type="text" class="form-control" name="monthes" required id="field_monthes" [(ngModel)]="monthes" />
                                <!-- <div *ngIf="monthes.toString().dirty && monthes.toString().invalid">
                                    <small class="form-text text-danger"
                                       *ngIf="monthes.errors.required" jhiTranslate="settings.messages.validate.monthes.required">
                                        Your first monthes is required.
                                    </small>
                                </div> -->
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_rate">Rate:</label>
                                <input type="text" class="form-control" name="rate" required id="field_rate" [(ngModel)]="rate" />
                                <!-- <div *ngIf="rate.toString().dirty && rate.toString().invalid">
                                    <small class="form-text text-danger"
                                       *ngIf="rate.errors.required" jhiTranslate="settings.messages.validate.rate.required">
                                        Your first rate is required.
                                    </small>
                                </div> -->
                            </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_fee">每月物业费:</label>
                            <input type="text" class="form-control" name="fee" required id="field_fee" placeholder="ex 120" [(ngModel)]="fee" />
                            <!-- <div *ngIf="fee.toString().dirty && fee.toString().invalid">
                                <small class="form-text text-danger"
                                   *ngIf="fee.errors.required" jhiTranslate="settings.messages.validate.fee.required">
                                    Your first fee is required.
                                </small>
                            </div> -->
                        </div>
                        <!-- <div class="form-group">
                            <label class="form-control-label" for="field_clientNumber">家具:</label>
                            <section class="d-flex justify-content-between">
                                <div class="">
                                <input type="radio" id="control_14" name="furniture" value="true" [(ngModel)]="furniture">
                                <label for="control_14">
                                    <span>Yes</span>
                                </label>
                                </div>

                                <div class="">				
                                <input type="radio" id="control_15" name="furniture" value="false" [(ngModel)]="furniture">
                                <label for="control_15">
                                    <span>No</span>
                                </label>
                                </div>
                            </section>
                        </div> -->
                        <div class="form-group">
                            <label class="form-control-label" for="field_rent">月毛租金:</label>
                            <input type="text" class="form-control" name="rent" required id="field_rent" placeholder="ex 800" [(ngModel)]="rent" />
                            <!-- <div *ngIf="rent.toString().dirty && rent.toString().invalid">
                                <small class="form-text text-danger"
                                   *ngIf="rent.errors.required" jhiTranslate="settings.messages.validate.rent.required">
                                    Your first name is required.
                                </small>
                            </div> -->
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_rentWithFee">月含charge租金:</label>
                            <ng-template #popContentC>ex 880 （800+120*2/3）charge locative 约为整个charge 的2/3</ng-template>
                            <span class="badge badge-pill badge-primary" triggers="mouseenter:mouseleave" [ngbPopover]="popContentC" popoverTitle="Information">!</span>
                            <input type="text" class="form-control" name="rentWithFee" required id="field_rentWithFee" placeholder="ex 880" [(ngModel)]="rentWithFee" />
                            <!-- <div *ngIf="rentWithFee.toString().dirty && rentWithFee.toString().invalid">
                                <small class="form-text text-danger"
                                   *ngIf="rentWithFee.errors.required" jhiTranslate="settings.messages.validate.rentWithFee.required">
                                    Your first rentWithFee is required.
                                </small>
                            </div> -->
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_clientNumber">每年才:</label>
                            <input type="text" class="form-control" name="clientNumber" id="field_clientNumber" placeholder="ex 1200" [(ngModel)]="propertyTax" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_status">每年出租总月数:</label>
                            <ng-template #popContent>ex 11.5/12 请填写0-12之间的小数考虑到换房客的空档期，我们建议填写11.8 
                                (une semaine par un pour changement de locataire)</ng-template>
                            <span class="badge badge-pill badge-primary" triggers="mouseenter:mouseleave" [ngbPopover]="popContent" popoverTitle="Information">!</span>
                            <input type="text" class="form-control" name="status" id="field_status" placeholder="Your phone number" [(ngModel)]="month"
                            />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_clientNumber">每年其他费用（有发票部分）:</label>
                            <input type="text" class="form-control" name="clientNumber" id="field_clientNumber" placeholder="ex 400 管理费 维修费 装修费 等" [(ngModel)]="otherCosts"
                            />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_clientNumber">出租前首次装修花费（有发票部分）:</label>
                            <input type="text" class="form-control" name="clientNumber" id="field_clientNumber" placeholder="ex 500" [(ngModel)]="renovationCosts" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_clientNumber">您对未来房价的预测:</label>
                            <input type="text" class="form-control" name="clientNumber" id="field_clientNumber" [(ngModel)]="prediction" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="control_06" name="accepte" value="OTHER1" [(ngModel)]="accepte">
                            <span><small>同意我们向您邮箱发布我们网站的最新信息与文章</small></span>
                        </div>
                        <div>
                            <button id="calcBtn" class="btn btn-info float-right" (click)="calculate()">Calculate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-10" *ngIf="taxFONCIERREEL.length>0">
            <div class="card">
                    <div class="card-header">
                        Tax comparaison
                    </div>
                    <div class="card-body">
                            <chart-component [chartLabels]="axe" [chartData]="taxDataSet" [chartType]="'line'"></chart-component>
                    </div>
            </div>
        </div>
        <br>
        <div class="col-10" *ngIf="taxFONCIERREEL.length>0">
            <div class="card">
                    <div class="card-header">
                        Income comparaison
                    </div>
                    <div class="card-body">
                        <chart-component [chartLabels]="axe" [chartData]="incomeDataSet" [chartType]="'line'"></chart-component>
                    </div>
            </div>
        </div>
        <br>
        <div class="col-10" *ngIf="taxFONCIERREEL.length>0">
            <div class="card">
                    <div class="card-header">
                        Pure income comparaison
                    </div>
                    <div class="card-body">
                        <chart-component [chartLabels]="axe" [chartData]="pureIncomeDataSet" [chartType]="'line'"></chart-component>
                    </div>
            </div>
        </div>
        <br>
        <div class="col-10" *ngIf="taxFONCIERREEL.length>0">
            <div class="card">
                <div class="card-header">
                    Pure income table
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th colspan="2">MICROFONCIER</th>
                                <th colspan="2">FONCIERREEL</th>
                                <th colspan="2">MICROBIC</th>
                                <th colspan="2">LMNPBICREEL</th>
                            </tr>
                            <tr>
                                <th>Year</th>
                                <th>Pure Income</th>
                                <th>Respons rate</th>
                                <th>Pure Income</th>
                                <th>Respons rate</th>
                                <th>Pure Income</th>
                                <th>Respons rate</th>
                                <th>Pure Income</th>
                                <th>Respons rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let n of axe">
                                <td>{{n+1}}</td>
                                <td>{{getPureIncomeAccumulated(n, 'MICROFONCIER') | number:'1.2-2'}}</td>
                                <td>{{getPureIncomeAccumulated(n, 'MICROFONCIER')/investmentCapital*100 | number:'1.2-2'}}%</td>
                                <td>{{getPureIncomeAccumulated(n, 'FONCIERREEL') | number:'1.2-2'}}</td>
                                <td>{{getPureIncomeAccumulated(n, 'FONCIERREEL')/investmentCapital*100 | number:'1.2-2'}}%</td>
                                <td>{{getPureIncomeAccumulated(n, 'MICROBIC') | number:'1.2-2'}}</td>
                                <td>{{getPureIncomeAccumulated(n, 'MICROBIC')/investmentCapital*100 | number:'1.2-2'}}%</td>
                                <td>{{getPureIncomeAccumulated(n, 'LMNPBICREEL') | number:'1.2-2'}}</td>
                                <td>{{getPureIncomeAccumulated(n, 'LMNPBICREEL')/investmentCapital*100 | number:'1.2-2'}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
