
<div *ngIf="message">
    <h2><span jhiTranslate="bigDataForLifeApp.message.detail.title">Message</span> {{message.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bigDataForLifeApp.message.name">Name</span></dt>
        <dd>
            <span>{{message.name}}</span>
        </dd>
        <dt><span jhiTranslate="bigDataForLifeApp.message.email">Email</span></dt>
        <dd>
            <span>{{message.email}}</span>
        </dd>
        <dt><span jhiTranslate="bigDataForLifeApp.message.subject">Subject</span></dt>
        <dd>
            <span>{{message.subject}}</span>
        </dd>
        <dt><span jhiTranslate="bigDataForLifeApp.message.message">Message</span></dt>
        <dd>
            <span>{{message.message}}</span>
        </dd>
        <dt><span jhiTranslate="bigDataForLifeApp.message.ip">Ip</span></dt>
        <dd>
            <span>{{message.ip}}</span>
        </dd>
        <dt><span jhiTranslate="bigDataForLifeApp.message.information">Information</span></dt>
        <dd>
            <span>{{message.information}}</span>
        </dd>
        <dt><span jhiTranslate="bigDataForLifeApp.message.date">Date</span></dt>
        <dd>
            <span>{{message.date | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'message/'+ message.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
