
<div *ngIf="simulation">
    <h2><span jhiTranslate="bigDataForLifeApp.simulation.detail.title">Simulation</span> {{simulation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bigDataForLifeApp.simulation.name">Name</span></dt>
        <dd>
            <span>{{simulation.name}}</span>
        </dd>
        <dt><span jhiTranslate="bigDataForLifeApp.simulation.email">Email</span></dt>
        <dd>
            <span>{{simulation.email}}</span>
        </dd>
        <dt><span jhiTranslate="bigDataForLifeApp.simulation.telephone">Telephone</span></dt>
        <dd>
            <span>{{simulation.telephone}}</span>
        </dd>
        <dt><span jhiTranslate="bigDataForLifeApp.simulation.taxLevel">Tax Level</span></dt>
        <dd>
            <span>{{simulation.taxLevel}}</span>
        </dd>
        <dt><span jhiTranslate="bigDataForLifeApp.simulation.condition">Condition</span></dt>
        <dd>
            <span>{{simulation.condition}}</span>
        </dd>
        <dt><span jhiTranslate="bigDataForLifeApp.simulation.intention">Intention</span></dt>
        <dd>
            <span>{{simulation.intention}}</span>
        </dd>
        <dt><span jhiTranslate="bigDataForLifeApp.simulation.ip">Ip</span></dt>
        <dd>
            <span>{{simulation.ip}}</span>
        </dd>
        <dt><span jhiTranslate="bigDataForLifeApp.simulation.information">Information</span></dt>
        <dd>
            <span>{{simulation.information}}</span>
        </dd>
        <dt><span jhiTranslate="bigDataForLifeApp.simulation.date">Date</span></dt>
        <dd>
            <span>{{simulation.date | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'simulation/'+ simulation.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
